# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.env
.env
.venv/
venv/
build/
dist/

# === IDEs ===
.vscode/
.idea/
*.swp

# === Logs ===
*.log

# === Docker ===
*.db
*.sock
docker-compose.override.yml

# === OS-specific ===
.DS_Store
Thumbs.db
